* {
  margin-top: 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  max-height: 10vh;
}

.logo {
  margin-top: 0.5%;
  margin-left: 0.5%;
  display: flex;
  width: 100%;
  
}

.logo p {
  font-family: "reddit sans";
  font-weight: 600;
  font-size: 2.5rem;
  margin-right: 0.7%;
}

.logo img {
  
  height: 50%;
}

.searchBar {
  display:flex;
  height: 100%;
  width: 100%;
  margin-right: 7vw;
 
  margin-top: 1vh;
  
}

.searchBar p {
  width: 100%;
  text-align: right;
  
}

.searchBar input {
  min-width: 20vw;
  
}


.logoLink {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  
}

.user {
  height:50%;
  top: 1vh;
  border-radius: 100%;
  position: relative;
  right: 1vw;
}

/* threadList */

.buttonsAndBox {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.threadClick {
  text-decoration: none;
  color: black;
  
}

.threadContainer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  
}

.threadBox {
  border: solid 2px black;
  width: 35vw;
  flex-basis: 50%;
  position: relative;
  
  right: 70%;
  align-self: center;
}


.threadClick h1 {
  max-width: 35vw;
}

.threadClick p {
  max-width: 35vw;
}
/* upvote and downvote buttons */

.buttons {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  position: relative;
  right: 2%;
  
}

.upVote {
  width: 2vw;
  color: black;
}

.upVote:hover {
  cursor: pointer;
  color: rgba(0,0,0,0.5)
}

.upVote-active {
  width: 2vw;
  color: red;
}

.upVote-active:hover {
  cursor:pointer;
}

.upButton {
  padding: 0;
  border-radius: 100%;
  background-color: rgba(0,0,0,0);
  border:none;
}

.downVote {
  width: 2vw;
  color: black;
}

.downVote:hover {
  cursor: pointer;
  color: rgba(0,0,0,0.5)
}

.downVote-active {
  width: 2vw;
  color: blue;
}

.downVote-active:hover {
  cursor: pointer;
}

.downButton {
  border: none;
  border-radius: 100%;
  background-color: rgba(0,0,0,0);
  padding:0;
}

